<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>MEAN - 02_NodeJS - 03_Cars_and_Cats</title>
  </head>
  <body>
    <h1>NodeJS <em>NEW CAR</em> page...</h1>
    <p><a href="/cars">See CARS ...</a></p>
    <p><a href="/cats">See CATS ...</a></p>
    <form action="" method="POST">
      <label for="make">Make:<input type="text" name="make" id="make" placeholder="Enter car make" /></label>
      <label for="model">Model:<input type="text" name="model" id="model" placeholder="Enter car model" /></label>
    </form>
  </body>
</html>
