/* -*- css -*- */
* {
  margin: 0;
  padding: 0;
}

div.player_hand {
  border: 1px solid black;
  padding: 0.5rem;
}

div.card {
  display: inline-block;
  vertical-align: top;
  width: 100px;
  align: center;
  border: 1px solid darkgrey;
  margin: 0.5rem;
  padding: 0.5rem;
}

img.card_image {
  display: block;
  margin: 0 auto;
  width: 75px;
  height: 75px;
  border: 1px solid darkgray;
  border-radius: 10px;
}

p.card_name {
  text-align: center;
  margin-bottom: 0.5rem;
  font-weight: bold;
}

p.card_attr {
}
