<h1>San Jose, CA</h1>
<div class="row_container">
  <div class="data_container">
    <p>Humidity: {{ data.main.humidity | number:'.0-0' }}%</p>
    <p>Temperature (Average): {{ convertTempKToF( data.main.temp ) | number:'.0-0' }}°F</p>
    <p>Temperature (High): {{ convertTempKToF( data.main.temp_max ) | number:'.0-0' }}°F</p>
    <p>Temperature (Low): {{ convertTempKToF( data.main.temp_min ) | number:'.0-0' }}°F</p>
    <p>Status: {{ data.weather[0].description }}</p>
  </div>
  <img src="../../assets/weather-sanjose.jpg" alt="San Jose Image">
</div>
