<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Flask - 5_Landing_Page - ninjas</title>
    <link type="text/css" rel="stylesheet" href="{{ url_for( 'static', filename='css/style.css') }}" />
  </head>
  <body>
    <h3>Ninjas</h3>
    <!-- Reference: https://en.wikipedia.org/wiki/Teenage_Mutant_Ninja_Turtles -->
    <ul>
      <li>Donatello (Donnie)</li>
        <ul>
          <li>Mask: Purple</li>
          <li>Weapon: Bo Staff</li>
          <li>Violence: Low</li>
          <li>Named After: The early Renaissance Italian artist and sculptor from Florence, Donatello</li>
          <li>Expertise: scientist, inventor, engineer, technological genius</li>
        </ul>
      <li>Leonardo (Leo)</li>
        <ul>
          <li>Mask: Blue</li>
          <li>Weapon: Two Katana</li>
          <li>Violence: Medium</li>
          <li>Named After: The Italian polymath, painter, engineer, inventor, writer, anatomist, and sculptor, Leonardo da Vinci</li>
          <li>Expertise: leader, tactical, courageous, devoted student</li>
        </ul>
      <li>Michelangelo (Mikey)</li>
        <ul>
          <li>Mask: Orange</li>
          <li>Weapon: Numchucks</li>
          <li>Violence: Medium</li>
          <li>Named After: The Italian Renaissance painter, sculptor, architect, poet, and engineer, Michelangelo</li>
          <li>Expertise: free-spirited, relaxed, goofy, jokester</li>
        </ul>
      <li>Raphael (Raph)</li>
        <ul>
          <li>Mask: Red</li>
          <li>Weapon: Pair of Sai</li>
          <li>Violence: High</li>
          <li>Named After: the Italian painter and architect of the High Renaissance, Raphael</li>
          <li>Expertise: physically strong, aggressive, intensely loyal</li>
        </ul>
    </ul>
    <h3><a href="dojos/new">Update Form</a></h3>
  </body>
</html>
