<!DOCTYPE html>
<html lang="en">
  <head>
    {% load staticfiles %}
    <meta charset="utf-8">
    <title>6_Django - _25_Login_Registration - Status</title>
    <link type="text/css" rel="stylesheet" href="{% static 'login_app/css/style.css' %}" />
  </head>
  <body>
    {% if messages %}
      {% for message in messages %}
        <!-- Use message.tags? -->
        <p class="flash">{{ message }}</p>
      {% endfor %}
    {% endif %}
    <hr />
    <a href="/">Back to Home</a>
  </body>
</html>
