<h1>Quotes List</h1>
<div *ngFor="let quote of quotes" class="quote_container">
  <div class="quote_text">
    <p>{{ quote.text }}</p>
    <p>&nbsp;&nbsp;-&nbsp;{{ quote.author }}</p>
  </div>
  <div class="quote_votes">
    <p><span *ngIf="quote.votes > 0">+</span>{{ quote.votes }}</p>
  </div>
  <div class="quote_actions">
    <button type="button" class="voteUp" (click)="updateQuote(quote.id, 1)">Vote Up</button>
    <button type="button" class="voteDown" (click)="updateQuote(quote.id, 2)">Vote Down</button>
    <button type="button" class="delete" (click)="updateQuote(quote.id, 3)">Delete</button>
  </div>
</div>
