/* -*- css -*- */

* {
  margin: 0;
  padding; 0;
}

h1 {
  color: red;
}

h2 {
  color: orange;
}

h3 {
  color: yellow;
}

a {
  color: blue;
}

a:link {
  color: blue;
}

a:visited {
  color: green;
}
