<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>View Book and Reviews</title>
    {% load static %}
    {% include 'book_reviews/common/head_js.html' %}
    {% include 'book_reviews/common/head_css.html' %}
  </head>
  <body>
    <header>
      <h2 id="header_icon">CodingDojo Book Reviews</h2>
      <span>Welcome, {{ request.session.alias }}</span>
      <a href="{% url 'book_reviews:index' %}">Home</a>
      <a href="{% url 'login:logout' %}">Logout</a>
    </header>
    <main>
      <h4>{{ book.title }}</h4>
      <p>Author: {{ book.author.name }}</p>
      <div id="reviews" style="display: inline-block; vertical-align: top; width: 400px;">
        <h3>Reviews:</h3>
        {% for review in book.reviews.all %}
          <div>
            <hr />
            <p>Rating: {{ review.rating }}</p>
            <p><a href="{% url 'book_reviews:view_user' id=review.author.id %}">{{ review.author.alias }}</a> says: {{ review.comments }}</p>
            <p>Posted on: {{ review.created_at|date:"F j, Y, g:i A" }}</p>
            {% if review.author.id == request.session.login_id %}
              <a href="{% url 'book_reviews:delete_review' id=review.id %}">delete this review</a>
            {% endif %}
          </div>
        {% endfor %}
      </div>
      <div id="add_review" style="display: inline-block; vertical-align: top; width: 300px;">
        <h3>Add a Review:</h3>
        <div style="width=200px; heigh=200px;">
          <form action="{% url 'book_reviews:add_review' %}" method="POST">
            {% csrf_token %}
            <input type="hidden" name="book_id" value="{{ book.id }}" />
            <!-- review -->
            <textarea name="review" rows="5" cols="40"></textarea> <br />
            <!-- rating -->
            <label for="rating">Rating:
              <select name="rating">
                <option selected value="unselected">Choose rating</option>
                <option value="0">0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
              </select>
              stars
            </label> <br />
            <input type="submit" value="Submit Review" /> <br />
          </form>
        </div>
      </div>
    </main>
    {% include 'book_reviews/common/body_footer.html' %}
  </body>
</html>
