<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>User Reviews</title>
    {% load static %}
    <!-- JavaScript -- External -->
<!--
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js" charset="utf-8"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js" charset="utf-8"></script>
-->
    <!-- JavaScript -- Internal -->
    <script type="text/javascript" src="{% static 'login/js/action.js' %}" charset="utf-8"></script>
    <!-- CSS -- External -->
<!--
    <link type="text/css" rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css" />
-->
    <!-- CSS -- Internal -->
    <link type="text/css" rel="stylesheet" href="{% static 'login/css/style.css' %}" />
  </head>
  <body>
    <header>
      <h2 id="header_icon">CodingDojo Book Reviews</h2>
      <span>Welcome, {{ request.session.alias }}</span>
      <a href="{% url 'book_reviews:index' %}">Home</a>
      <a href="{% url 'book_reviews:add_book' %}">Add Book and Reviews</a>
      <a href="{% url 'login:logout' %}">Logout</a>
    </header>
    <main>
    </main>
  </body>
</html>
