<div class="container">
  <h1>{{ title }}</h1>
  <div class="barcode_element" [ngStyle]="{'background-color': elements[0]}"></div
  ><div class="barcode_element" [ngStyle]="{'background-color': elements[1]}"></div
  ><div class="barcode_element" [ngStyle]="{'background-color': elements[2]}"></div
  ><div class="barcode_element" [ngStyle]="{'background-color': elements[3]}"></div
  ><div class="barcode_element" [ngStyle]="{'background-color': elements[4]}"></div
  ><div class="barcode_element" [ngStyle]="{'background-color': elements[5]}"></div
  ><div class="barcode_element" [ngStyle]="{'background-color': elements[6]}"></div
  ><div class="barcode_element" [ngStyle]="{'background-color': elements[7]}"></div
  ><div class="barcode_element" [ngStyle]="{'background-color': elements[8]}"></div
  ><div class="barcode_element" [ngStyle]="{'background-color': elements[9]}"></div
  >
</div>
