<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Flask_with_MySQL - 5_Login_Registration - Status</title>
    <!-- CSS -- Internal -->
    <link type="text/css" rel="stylesheet" href="{{ url_for( 'static', filename='css/style.css' ) }}" />
  </head>
  <body>
    <header>
      <h2 id="header_icon">CodingDojo Wall</h2>
    </header>
    <main>
      {% with messages = get_flashed_messages() %}
        {% if messages %}
          {% for message in messages %}
            <p class="flash">{{message}}</p>
          {% endfor %}
        {% endif %}
      {% endwith %}
      <hr />
      <a href="/">Back to Home</a>
    </main>
  </body>
</html>
