<div class="container">
  <h1>Dojo Weather Forecast</h1>
  <p>
    <a href="#">Seattle, WA</a>
    | <a href="#">San Jose, CA</a>
    | <a href="#">Burbank, CA</a>
    | <a href="#">Dallas, TX</a>
    | <a href="#">Washington, DC</a>
    | <a href="#">Chicago, IL</a>
  </p>
  <div class="sub_container"><app-weather-seattle></app-weather-seattle></div>
  <div class="sub_container"><app-weather-sanjose></app-weather-sanjose></div>
  <div class="sub_container"><app-weather-burbank></app-weather-burbank></div>
  <div class="sub_container"><app-weather-dallas></app-weather-dallas></div>
  <div class="sub_container"><app-weather-dc></app-weather-dc></div>
  <div class="sub_container"><app-weather-chicago></app-weather-chicago></div>
</div>
