body {
  font-family: sans-serif;
}

#container {
  width: 970px;
  background-color: rgb(45, 90, 135); /* python-blue */
}

/* -------------------- header -------------------- */

#header {
  padding: 10px;
}

#header img {
  display: inline-block;
  vertical-align: top;
  width: 350px;
}

/* -------------------- textSize and search -------------------- */

#textSize_and_search {
  display: inline-block;
  vertical-align: top;
  margin-left: 315px;
  text-align: right;
}

/* -------------------- textSize -------------------- */

#textSize {
  display: inline-block;
  color: rgb(240, 240, 240); /* white */
  font-size: 14px;
  margin-bottom: 5px;
}

#textSize a:link {
  color: rgb(250, 200, 25); /* yellow */
}

#textSize a:visited {
  color: rgb(250, 200, 25); /* yellow */
}

#textSize .divider {
  color: black;
}

/* -------------------- search -------------------- */

#search {
  background-color: rgb(80, 80, 80); /* dark-grey */
  width: 275px;
  height: 60px;
  border-radius: 7px;
  box-shadow: 2px 2px 2px black;
  border: none;
  text-align: center;
}

#search form {
  display: inline-block;
  text-align: center;
  margin-top: 12px;

}

input#searchString {
  width: 150px;
  height: 30px;
  box-shadow: inset 1px 1px 3px rgb(128, 128, 128); /* light-grey */
  text-align: center;
}

input#searchString::placeHolder {
  colr: rgb(128, 128, 128); /* light-grey */
}

#searchButton {
  display: inline;
  background-color: rgb(45, 90, 135); /* python-blue */
  color: rgb(240, 240, 240);
  height: 28px;
  border: 2px rgb(200, 200, 200); /* dark-grey */
  border-style: outset;
  border-radius: 5px;
  text-align: center;
  margin-left: 5px;
  margin-top: 10px;
  padding: 5px;
}

#searchButton span {
  margin-top: 5px;
}

/* -------------------- menu -------------------- */

#menu {
  height: 50px;
  width: 850px;
  background-color: rgb(80, 130, 190); /* light-blue */
  border-radius: 5px;
  box-shadow: 2px 2px 2px black;
  margin-left: 70px;
}

#menu ul {
  margin: 0px;
  padding: 10px 0px 0px 0px;
}

#menu ul li {
  list-style-type: none;
  display: inline;
  font-family: sans-serif;
  font-size: 24px;
  color: rgb(240, 240, 240); /* white */
  padding-left: 32px;
}

#menu a {
  text-decoration: none;
}

#menu a:link {
  color: rgb(240, 240, 240); /* white */
}

#menu a:visited {
  color: rgb(240, 240, 240); /* white */
}

/* -------------------- main1 -------------------- */

#main1_nav {
  display: inline-block;
  vertical-align: top;
  color: rgb(240, 240, 240); /* white */
  width: 175px;
  margin-left: 115px;
}

#main1_nav ul {
  list-style-type: none;
  margin: 25px 0px 0px 0px;
  padding: 0px;
}

#main1_nav ul li {
  margin: 10px 0px;
  text-align: center;
}

#main1_nav ul li:before {
  content: ">>";
  color: rgb(250, 200, 25); /* yellow */
  padding-right: 5px;
  font-size: 10px;
}

#main1_nav a:link {
  color: rgb(240, 240, 240); /* white */
}

#main1_nav a:visited {
  color: rgb(240, 240, 240); /* white */
}

#main1_content {
  display: inline-block;
  vertical-align: top;
  color: rgb(240, 240, 240); /* white */
  width: 600px;
  text-align: center;
  font-size: 14px;
}

#main1_content p {
  margin: 10px 0px;
}

#main1_content .quote {
  color: rgb(250, 200, 25); /* yellow */
  font-size: 18px;
}

/* -------------------- main2 -------------------- */

#main2 {
  background-color: rgb(240, 240, 240);
  padding-left: 70px;
  padding-top: 10px;
}

#main2_content {
  border-top: 4px solid rgb(100, 150, 210); /* light-blue */
  display: inline-block;
  vertical-align: top;
  color: rgb(83, 83, 83); /* black */
  width: 365px;
  text-align: center;
  font-size: 14px;
  margin-right: 30px;
  padding: 0px 30px 0px 15px;
}

#main2_content .title {
  font-size: 16px;
  font-weight: bold;
}

#main2_content ul {
  list-style-type: square;
}

#main2_content a:link {
  color: rgb(100, 150, 210); /* light-blue */
}

#main2_content a:visited {
  color: rgb(100, 150, 210); /* light-blue */
}

#main2_content .shrunk_link {
  text-decoration: none;
  font-size: 12px;
}

/* -------------------- footer -------------------- */

#footer {
  background: linear-gradient( rgb(45, 90, 135), rgb(55, 115, 150), rgb(90, 135, 180) );
  height: 70px;
  padding-top: 40px;
  text-align: center;
  color: rgb(115, 170, 220); /* light-blue */
}

#footer ul {
  /*display: inline-block;*/
  list-style-type: none;
}

#footer ul li {
  display: inline;
  padding-right: 40px;
  font-size: 18px;
}

#footer a {
  text-decoration: none;
}

#footer #copyright {
  font-size: 10px;
  display: block;
}

#footer a:link {
  color: rgb(115, 170, 220); /* light-blue */
}

#footer a:visited {
  color: rgb(115, 170, 220); /* light-blue */
}
