<!DOCTYPE html>
<html lang="en">
  <head>
    {% load staticfiles %}
    <meta charset="utf-8">
    <title>6_Django - _28_Dojo_Secrets - status</title>
    <link type="text/css" rel="stylesheet" href="{% static 'login/css/style.css' %}" />
  </head>
  <body>
    <header>
      <h2 id="header_icon">CodingDojo Secrets</h2>
    </header>
    {% if messages %}
      {% for message in messages %}
        <!-- Use message.tags? -->
        <p class="flash">{{ message }}</p>
      {% endfor %}
    {% endif %}
    <hr />
    <a href="{% url 'login:index' %}">Back to Home</a>
  </body>
</html>
