/* -*- css -*- */

/* Minimal RESET */
* {
  margin: 0px;
  padding: 0px;
  font-family: sans-serif;
}

body {
  width: 970px;
  border: 1px solid black;
}

/* -------------------- header -------------------- */

#header {
}

#header_icon {
  height: 90px;
}

#globe {
  display: inline-block;
  position: relative;
  top: 10px;
  left: 10px;
  height: 100px;
}

#title {
  display: inline-block;
  position: relative;
  top: -25px;
  left: 10px;
  font-size: 48px;
  height: 50px;
}

#subtitle {
  display: block;
  height: 50px;
  font-size: 36px;
  background: linear-gradient(rgb(45, 90, 135), rgb(80, 130, 190), rgb(45, 90, 135));
  color: rgb(240, 240, 240); /* white */
  padding: 10px 0px 0px 10px;
}

/* -------------------- sidebar -------------------- */

#sidebar {
  width: 215px;
  display: inline-block;
  vertical-align: top;
  padding: 20px 10px 10px 10px;
}

#sidebar .text1 {
  display: inline-block;
  font-weight: bold;
  font-size: auto;
  margin-bottom: 10px;
}

#sidebar .text2 {
  display: inline-block;
  font-weight: bold;
  font-size: auto;
  margin-bottom: 10px;
}

#sidebar hr {
  margin: 20px 0px;
}

#sidebar_ad {
  background: url( "assets/ad_background.png" );
  padding: 10px;
  text-align: center;
}

#sidebar_ad #text_ad {
  font-size: 28px;
  color: rgb(240, 240, 240);
}

#sidebar_ad img {
  height: 180px;
}

/* -------------------- main -------------------- */

#main {
  display: inline-block;
  vertical-align: top;
  padding-left: 0px 10px;
  width: 720px;
}

/* -------------------- main::main__header -------------------- */

#main__header {
  border-bottom: 1px solid rgb(128, 128, 128);
  padding-bottom: 20px;
  margin-bottom: 10px;
}

#main__header img {
  height: 20px;
}

#main__header #topic {
  margin-top: 5px;
  display: inline-block;
  vertical-align: top;
}

#main__header #hours_and_phone {
  display: inline-block;
  vertical-align: top;
  margin-left: 380px;
  width: 265px;
}

#main__header #hours_and_phone img {
  display: inline-block;
  vertical-align: top;
  height: 50px;
  margin-top: 5px;
}

#main__header #hours_and_phone #phone {
  display: inline-block;
  vertical-align: top;
  margin-left: 10px;
  width: 200px;
}

#main__header #hours_and_phone #phone #hours {
  font-size: 12px;
}

#main__header #hours_and_phone #phone #us_phone_number {
  font-size: 32px;
  font-weight: bold;
}

#main__header #hours_and_phone #phone #intl_phone_number {
  font-size: 14px;
}

/* -------------------- main::main__content -------------------- */

#main__content {
}

#main__content img {
  height: 100px;
  display: inline-block;
  margin: 10px 0px 10px 200px;
}

#main__content p {
  margin: 0.5em 0;
}

#main__content ul, ol {
  margin: 0.5em 0;
  padding-left: 40px;
}

/* -------------------- main::main__content -------------------- */

#main__subcontent {
  border-left: 4px solid rgb(45, 90, 135);
  border-top: 4px solid rgb(45, 90, 135);
  border-right: 4px solid rgb(45, 90, 135);
  padding: 10px;
}

#main__subcontent img {
  display: inline-block;
  vertical-align: top;
  margin: 10px;
}

#main__subcontent__desc {
  display: inline-block;
  vertical-align: top;
  width: 500px;
}

/* -------------------- general -------------------- */

.button {
  border-radius: 5px;
  padding: 10px;
  text-align: center;
  margin-bottom: 5px;
  text-decoration: none;
}

.button_link {
  text-decoration: none;
}

.button_link:link {
  color: rgb(240, 240, 240);
}

.button_link:visited {
  color: rgb(240, 240, 240);
}

.button_blue {
  background: linear-gradient(rgb(80, 130, 190), rgb(70, 110, 160), rgb(45, 90, 135));
  color: rgb(240, 240, 240);
}

.button_orange {
  background: linear-gradient(rgb(240, 180, 60), rgb(230, 160, 40), rgb(220, 140, 20));
  color: rgb(240, 240, 240);
}

.button_ltblue {
  background: linear-gradient(rgb(120, 170, 210), rgb(100, 150, 200), rgb(80, 130, 190));
  color: rgb(240, 240, 240);
}

.fg_white {
  color: rgb(240, 240, 240); /* light-blue */
}

.fg_ltblue {
  color: rgb(60, 120, 180); /* light-blue */
}

.fg_red {
  color: rgb(240, 0, 0); /* red */
}
