/** { margin: 0px;
 padding: 0px;
}*/

#container {
  width: 970px;
  background-color: rgb(21, 37, 74);
  padding: 15px;
}

#header {
  background-color: rgb(193, 26, 41);
  color: rgb(181, 207, 230);
  border-radius: 10px;
  font-size: 36px;
  margin-bottom: 15px;
  height: 50px;
  padding: 10px;
  vertical-align: center;
}

#main {
}

#nav {
  background-color: rgb(34, 106, 121);
  color: rgb(181, 207, 230);
  border-radius: 10px;
  display: inline-block;
  vertical-align: top;
  width: 220px;
  margin-right: 15px;
  padding: 10px;
}

#nav ul {
  padding-left: 20px;
  margin-top: 0em;
}

#content {
  background-color: rgb(12, 18, 25);
  color: rgb(181, 207, 230);
  border-radius: 10px;
  display: inline-block;
  vertical-align: top;
  width: 690px;
  padding: 10px;
}

#content ul {
  padding-left: 20px;
}

#content ul li {
  margin-top: 1em;
}

#content ul a {
  text-decoration: underline;
}

#footer {
  background-color: rgb(75, 82, 96);
  color: rgb(181, 207, 230);
  border-radius: 10px;
  padding-top: 15px;
  padding-left: 10px;
  margin-top: 15px;
  height: 35px;
  vertical-align: center;
}

a:link {
  color: rgb(181, 207, 230);
}

a:visited {
  color: rgb(181, 207, 230);
}

.code {
  color: rgb(98, 121, 255);
}
