<!DOCTYPE html>
<html lang="en">
  <head>
    {% load staticfiles %}
    <meta charset="utf-8">
    <title>6_Django - _28_Dojo_Secrets - secrets</title>
    <link type="text/css" rel="stylesheet" href="{% static 'secrets_app/css/style.css' %}">
  </head>
  <body>
    <header>
      <h2 id="header_icon">CodingDojo Secrets</h2>
      <p><a href="{% url 'login:logout' %}">log off</a>
      <p>Welcome {{ request.session.f_name }}</p>
    </header>
    <main>
      <h1>Hello, {{ request.session.f_name }}!</h1>
      <div id="new_secret">
        <form action="{% url 'secrets:add_secret' %}" method="POST">
          {% csrf_token %}
          <textarea name="secret" rows="5" cols="40" style="display: block;"></textarea>
          <input type="submit" value="Post" />
          <a href="{% url 'secrets:most_popular' %}">Most Popular Secrets</a>
        </form>
      </div>
      <h1>Recent Secrets ...</h1>
      <ul type="none">
        {% for secret in recent_secrets %}
          <div>
            <span class="secret_text">{{ secret.secret }}</span>
            <span class="secret_date">({{ secret.created_at|timesince }} ago)</span>
            <span class="secret_likes">{{ secret.num_likes }} Likes</span>
            {% if secret.authored_by.id == request.session.login_id %}
              <strong>You posted this</strong>
              <a href="{% url 'secrets:delete_secret' id=secret.id %}">Delete</a>
            {% elif user in secret.liked_by.all %}
              <strong>You liked this</strong>
            {% else %}
              <a href="{% url 'secrets:add_like' s_id=secret.id u_id=request.session.login_id %}">Like</a>
            {% endif %}
          </div>
        {% endfor %}
      </ul>
    </main>
  </body>
</html>
