<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>6_Django - _22_Books - index</title>
  </head>
  <body>
    <table border="1">
      <thead>
        <tr>
          <th>id</th>
          <th>title</th>
          <th>author</th>
          <th>category</th>
          <th>created_at</th>
          <th>updated_at</th>
        </tr>
      </thead>
      <tbody>
        {% for i in books %}
          <tr>
            <td>{{ i.id }}</td>
            <td>{{ i.title }}</td>
            <td>{{ i.author }}</td>
            <td>{{ i.category }}</td>
            <td>{{ i.created_at }}</td>
            <td>{{ i.updated_at }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    <h2>Add a Book:</h2>
    <form action="/add_book" method="POST">
      {% csrf_token %}
      <label for="title">Title:<input type="text" name="title" /></label> <br />
      <label for="author">Author:<input type="text" name="author" /></label> <br />
      <label for="category">Category:<input type="text" name="category" /></label> <br />
      <input type="submit" name="Submit!" />
    </form>
    <a href="/add_predefined_data">Click here to add predefined data</a> <br />
    <a href="/remove_all_data">Click here to remove all data</a>
  </body>
</html>
