<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>6_Django - _23_Courses - index</title>
  </head>
  <body>
    <form action="/add_course" method="POST">
      {% csrf_token %}
      <h3>Add a new course</h3>
      <label for="title">Title:<input type="text" name="title" /></label> <br />
      <label for="description">Description:<input type="text" name="description" /></label> <br />
      <input type="submit" value="Add" /> <br />
    </form>
    <h2>Courses</h2>
    <table border="1">
      <thead>
        <tr>
          <td>Course Name</td>
          <td>Description</td>
          <td>Date Added</td>
          <td>Actions</td>
        </tr>
      </thead>
      <tbody>
        {% for i in courses %}
          <tr>
            <td>{{ i.name }}</td>
            <td>{{ i.description_id.description }}</td>
            <td>{{ i.created_at }}</td>
            <td><a href="/remove_course/{{ i.id }}">remove</a></td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    <a href="/add_predefined_data">Click here to add predefined data</a> <br />
  </body>
</html>
